/*
 *  Khmer Os Battambang
 * ------------------------------------------------------------------------------
 */
@font-face {
	font-family: "Khmer Os Battambang";
	font-style: normal;
	font-weight: 400;
		src: local("Khmer Os Battambang"), 
			url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot"), /* IE9 Compat Modes */
			url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot?#iefix") format("embedded-opentype"),
			url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff2") format("woff2"), /* Super Modern Browsers */
			url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff") format("woff"), /* Pretty Modern Browsers */
			url("../fonts/Khmer-os-battambang/KhmerOSbattambang.ttf") format("truetype"), /* Safari, Android, iOS */
			url("../fonts/Khmer-os-battambang/KhmerOSbattambang.svg#svgFontName") format("svg"); /* Legacy iOS */
		unicode-range: U+1780-17FF, U+200B-200C, U+25CC;				
} 