/*
 *  page
 * ------------------------------------------------------------------------------
 */
.wrapper {
    height: 568px !important;
    /*height: 512px !important;*/
    overflow: hidden;
}
.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover {
    background: linear-gradient(to bottom, #000000, #000000, #FF0000);
    display: none;
}
.skin-blue .main-header .navbar {
    background: linear-gradient(to right, #000000, #FF0000);
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #500000;
}

#betTable .box {
    margin-bottom: 0;
    border-top: 0;
}
#betTable .box-body {
    height: 150px;
    /*height: 118px;*/
    overflow: scroll;
}
#betTable table {
    border: 0;
    border-collapse: collapse;
    margin-bottom: 3px;
}
#betTable table thead {
    background-color: #5d7bba;
    color: #FFFFFF;
}
#betTable table tbody {
    max-height: 125px;
    overflow-scrolling: auto;
}
#betTable table tbody tr td {
    padding-top: 0;
    padding-bottom: 2px;
}
#betTable table tbody tr:first-child td {
    padding-top: 5px;
}
#betTable table tbody tr td:last-child {
    /*text-align: right;*/
}
#betTable table tbody tr td:last-child a {
    background-color: #5d7bba;
    color: #FFFFFF;
    border-color: #5d7bba;
}
#betTable table tbody tr td:last-child a:last-child {
    background-color: #FF0000;
    border-color: #FF0000;
}
#betTable .box-footer {
    padding: 0 15px;
    border-top: 1px solid #000000;
    /*min-height: 61px;*/
    height: 81px;
    overflow: scroll;
}
#betTable .box-footer ul{
    width:60%;
    padding: 0px;

}
#betTable .box-footer ul li {
    list-style: none;
    padding-bottom: 0;
    text-align: right;
    font-size: 14px;
}
#betTable .box-footer ul li:last-child {
    padding-bottom: 0;
}
#betTable .box-footer ul li span {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
}
#betTable .box-footer ul li:last-child span {
    color: #FF0000;
}

#divAccount {
    padding: 5px 0;
    width: 40%;
}
#divAccount p {
    margin: 0;
}
#divAccount p span {
    background-color: #e5e5e5;

    color: #FF0000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0px 5px;
}

#divPost {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
}
#divPost .shapeborder { border:1px solid #FF0000; }
#divPost .circle { border-radius: 50%; }

#divPost .outer {
    background-color: #f3f3f3;
    width:38px;
    height:38px;
}
#divPost .inner {
    background-color: #f3f3f3;
    width: 92%;
    height: 92%;
    margin: 4%;
    position: relative;
}
#divPost .inner a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    /*** text ***/
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #FF0000;
    text-decoration: none;
}
#divPost ul {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 38px;
}
#divPost ul li {
    list-style: none;
    /*float: left;*/
    margin-right: 5px;
    display: inline-block;
}
#divPost ul li.current .inner {
    background-color: #FF0000;
}
#divPost ul li.current .inner a {
    color: #FFFFFF;
}

#divPost ul li.isDisabled{
    background: transparent !important;
}
#divPost ul li.lo4p a {
    font-size: 12px;
    line-height: 12px;
}

/*
 *  Calculator
 * ------------------------------------------------------------------------------
 */

#calculator {
    width: auto;
    /*width: 325px;*/
    height: auto;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    /* background: #none; */
    /* background: linear-gradient(#c9dd84, #9fcb96); */
    border-radius: 5px;
}

/*** Top ***/
.top form .form-group {
    margin-bottom: 10px;
}
.top p#bet-operator{
    margin: auto;
    font-size: 18px;
    text-align: center;
}
.top input.form-control{
    padding:6px 9px;
}
.top input.focus, #ticket.focus{
    border: 2px solid #5d7bba;
}
.top input[readonly]{
    background-color: #fff;
}
.top input[disabled]{
    background-color: #ced1d5;
}
.top  span.clear{
    float: left;
}

/*** Screen styling ***/
.top .screen {
    height:90px;
    width: 100%;
    padding: 0 10px;
    background: rgba(154, 185, 188, 0.8);
    border-radius: 5px;
    margin-bottom:10px;
    /* Typography */
    font-size: 30px;
    line-height: 90px;
    color: white;
    text-align: right;
    overflow:auto;
}

/*** Clear floats ***/
.keys  {
    overflow: hidden;
}

/*** Keys ***/
.isDisabled{
    pointer-events: none !important;
    background: #bdc0c4 !important;
    cursor: not-allowed !important;
    opacity: .65 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #000000 !important;
}

.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;
    background: #f3f3f3;
    font-size:22px;
    cursor: pointer;
    width: 78px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 6px 10px 0;
    color: #000000;
    line-height: 30px;
    text-align: center;
    user-select: none;
    outline: 0 solid;
    /* hover and active state transitions */
    transition: all 0.2s ease;
}

/*** Unique key styling ***/
.keys span.operator {
    background: #e5e5e5;
    font-size: 16px;
    /*margin-right: 0;*/
}
.keys span.operator sup {
    font-size: 50%;
    vertical-align: top;
    color:#f1c851;
}
.keys span.eval {
    background: #d6643f;
    box-shadow: 0px 4px #c3502b;
    color: #f1c851;
    width: 212px;
}
span.clear {
    background: #523d98;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}
span.enter {
    background: #e5e5e5;
    width: 162px;
}
span.enter img {
    width: 20px;
}

/*** hover effects ***/
.keys span:hover {
    /*background: #795ebd;
    color: white;*/
}
/*.keys span.eval:hover {
	background: #f37c4c;
	box-shadow: 0px 4px #d65f3d;
	color: #ffffff;
}
.keys span.operator:hover {
	background: #5d7bba;
	color: #ffffff;
}
.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}*/

/* Simulating "pressed" effect */
.keys span:active {
    /*box-shadow: 0px 0px #6b54d3;
    top: 4px;*/
}
.keys span.eval:active {
    /*box-shadow: 0px 0px #717a33;
    top: 4px;*/
}
.top span.clear:active {
    /*top: 4px;
    box-shadow: 0px 0px #d3545d;*/
}
/* group buttons */
div.group-buttons span:last-child {
    margin-right: 0;
}
div.group-buttons .glyphicon, div.group-buttons .fa {
    font-size: 16px;
}
div.group-buttons .col-blue {
    background: #5d7bba;
    color: #ffffff;
}
.top form .row {
    margin-left: -3px;
    margin-right: -3px;
}
.top form .row [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
@media only screen and (max-width: 767px) { /* Landscape phones and portrait tablets */
    /* navigation custom menu */
    .navbar-custom-menu {
        display: none !important;
    }
    /* navigation on mobile */
    #nav-mobile {
        display: block !important;
    }
    .main-header .navbar {
        min-height: 40px;
    }
    #nav-mobile ul {
        margin: 0;
        padding: 0;
        position: relative;
        top: 8px;
    }
    #nav-mobile ul li {
        float: left;
        list-style: none;
        margin-left: 5px;
    }
    #nav-mobile ul li .form-control {
        padding: 3px 6px;
        height: 24px;
    }
    #nav-mobile ul li select {
        font-size: 12px;
        height: 24px;
    }
    #nav-mobile ul li input {
        font-size: 14px;
        height: 30px;
    }
    #nav-mobile ul li .input-group-addon {
        font-size: 12px;
        line-height: 14px;
        padding: 3px 6px;
    }
    #nav-mobile ul li .date {
        width: 70px;
    }
    #nav-mobile ul li:last-child {
        padding-right: 5px;
    }
    #nav-mobile ul li:last-child span,
    #nav-mobile ul li:last-child select {
        float: left;
    }
    #nav-mobile ul li:last-child label {
        text-align: left;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
        float: left;
        padding-right: 5px;
    }
    #ticket {
        border: 1px solid #d2d6de;
        border-radius: 0;
        padding: 3px 6px;
        height: 24px;
        width: 40px;
    }
    .main-header .sidebar-toggle {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-sidebar {
        padding-top: 40px;
    }
    /* Footer */
    .main-footer {
        display: none;
    }

}
